extends ../shared/template
block content
  h2 Enter Goals
  .row
    .col-xs-6
      form(role='form', method='post', action='/goals')
        .form-group
          label(for='Name') Goal
          input.form-control#goal(type='text', name='goal', autofocus=true)
        .form-group
          label(for='due') Due
          input.form-control#due(type='date', name='due')
        .form-group
          label(for='tags') Tags
          input.form-control#tags(type='text', name='tags')
        button.btn.btn-success(type='submit') Add Goals
    .col-xs-6

block scripts
