extends ../shared/template
block content
  .row
    .col-xs-6
      h2= goal.name
    .col-xs-6
      form(role='form', method='post', action='/goals/#{goal._id}/tasks')
        .form-group
          label(for='Name') Name
          input.form-control#name(type='text', name='name', autofocus=true)
        .form-group
          label(for='description') Description
          input.form-control#description(type='text', name='description')
        .form-group
          label(for='difficulty') difficulty
          select.form-control#difficulty(name='difficulty')
            option Easy
            option Medium
            option Hard
        .form-group
          label(for='rank') Rank
          input.form-control#rank(type= 'number' name= 'rank')
        button.btn.btn-success(type='submit') Add 

